*.o
*.a
depend.mak
lcc/bin/*.c
binutils/ar/ar
binutils/as/as
binutils/ld/ld
binutils/dof/dof
lcc/bin/cpp
lcc/bin/ucpp
lcc/bin/lburg
lcc/bin/rcc
lcc/bin/lcc
lcc/bin/bprint
__.SYMDEF
*.lib
binutils/bin






